
.NavBar ul{
    list-style: none;
    width: 100%;
    text-align: center;
}
.NavBar li {
    display: inline;
    margin: 20px;
}
.NavBar a{
    text-decoration: none;
    color:black;
}
.NavBar a:hover, .NavBar a:active, a.active{
    color:coral;
}