.Toolbar{
    height: 50px;
    width: 99%;
    position: fixed;
    display: flex;
    top: 0;
    left: 0px;
    z-index: 90;
    background-color: #703B09;
    color: white;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;
}